@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&family=Updock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Raleway:wght@100;400&family=Updock&display=swap');

html {
    height: 100%;
    width: 90%;
}

header {
    height: 10%;
    width:150%;
    background-color:#161925;
    color:#C5DECD;
    font-family: 'Merriweather', serif;
    text-align: center;
    padding:2.5vh;
    top:0;
}

#logo_TP{
    width: 100%;
    margin-left: 10vh;
    margin:0;

}

body {
    height:100%;
    top:10%;
    font-family: 'Raleway', sans-serif;
}

nav{
    width:25vh;
    padding: 15px 10px;
    background: #218380;
    color:#C5DECD;
    border: none;
    border-radius: 0;
    margin: 10vh;
    box-shadow: 2vh 2vh 5vh #C5DECD;
    font-size: large;

}

#sidebar{
    margin:0;
    background: #218380;
    padding:3rem;
    position:sticky; 
}

#sidebar ul{
    list-style:square; 
    padding:0;
    display:block; 
    flex-wrap:wrap; 
    justify-content:space-evenly; 
}

#sidebar a{ 
    color:#C5DECD; 
    font-size: larger;
    text-decoration: none;
    padding:1rem;
    transition: all 750ms ease-in-out;
}

#sidebar a:hover{
    background:#AF5B5B;
    color:#eee;
}  

.flex{
    display: flex;
    width: 100%;
    align-items: stretch;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.widht_sm{
    width:65rem;
    margin: 7vh;
    display: inline-flex;   
    display: wrap;  
}

.high_block_margin{
    margin-top: 4vh;
    margin-bottom: 4vh;
    margin-left:10vh;
    margin-right:9vh;
    border: #161925;
    height: 10vh;
    text-align: center;
    font-size:large;
}

.main_block_home{
    margin:5vh 10vh 10vh 5vh;
}

.main_block_listing{
    margin:1vh 10vh 10vh 5vh;
}

.th_dark{
    background-color: #161925;
    color:#0b5956;
}

.titre_green_strong{
    color:#eee;
    width: 125vh;
    height: 6vh;
    padding:1vh;
    text-align:center;
    border-radius:10px;
    background-color: #0b5956;
}

.titre_green_light{
    background: linear-gradient(to bottom right, #218380, #C5DECD);
    color:#eee;
    width: 60vh;
    height: 6vh;
    padding:1vh;
    text-align:center;
    border-radius:10px;
}

.titre_pink{
    background: linear-gradient(to bottom right, #ca7a78, rgb(238, 213, 213));
    color:#eee;
    width: 60vh;
    height: 6vh;
    padding:1vh;
    text-align:center;
    border-radius:10px;
}

.titre_other_green{
    background: linear-gradient(to bottom right, #78B832,rgb(213, 235, 185));
    color:#eee;
    width: 60vh;
    height: 6vh;
    padding:1vh;
    text-align:center;
    border-radius:10px;
}

.titre_pink_listing{
    background-color:#e97e7a;
    color:#eee;
    width: 100%;
    height: 6vh;
    padding:1vh;
    text-align:center;
    border-radius:10px;
}

.titre_blue_listing{
    background-color:#161925;
    color:#eee;
    width: 100%;
    height: 6vh;
    padding:1vh;
    text-align:center;
    border-radius:10px;
}

.titre_red_listing{
    background-color:#be2638;
    color:#eee;
    width: 100%;
    height: 6vh;
    padding:1vh;
    text-align:center;
    border-radius:10px;
}

.titre_satis_green_listing{
    background-color:#92D050;
    color:#eee;
    width: 100%;
    height: 6vh;
    padding:1vh;
    text-align:center;
    border-radius:10px;
}

#img_alerte,#img_trophée,#img_en_cours,#img_smiley  {
    height:6.5vh;
    margin-left:1vh;

}

.table_size{
    width:80vh;
}

.btn_create_color{
    background-color: #AF5B5B;
    color:#eee;
}

.btn_create_color_dark{
    background-color: #0b5956;
    color:#eee;
}

.btn_update_color{  
    background-color: #161925;
    color:#eee;
}

.btn_delete_color{  
    background-color: #812424;
    color:#eee;
}

#pdt_blanc,#pdt_PC,#pdt_VR,#pdt_Tel,#pdt_TV,#clt_CB,#pdt_HP,#pdt_HG,#pdt_R2D2,#pdt_VM{
    height:10vh;
    margin-left:1vh;

}

#img_cré_clt,#img_cré_pdt,#img_cré_cmd,#img_cré_mkt,#img_cré_claim{
    margin-left:0vh;
}


#pdt_pics{
    display: inline;
    justify-content: space-between;
    margin:0;
}


.table_largeur{
    width:20vh;
}

.claims_head{
    display: inline;
}

.form{
    margin:10vh;
    background-color: #C5DECD;
    padding:2vh;
}

.delete_div{
    margin:10vh;
    background-color:#d7b4b3;
    padding:2vh;
    width:50%
}

#raccourci{
    margin:30vh;
    width:40vh;
    
}

#header_home{
    display:inline-block;
    justify-content:space-between;
}

.table-xlg{
    font-size: large;

}

.error_msg{
    margin:25vh;
    background-color:#812424;
    color: #eee;
    padding:4vh;
    width:70%;
    font-size: x-large ;
}

footer {
    height: 7%;
    width:150%;
    background-color: #161925;
    color:#C5DECD;
    font-family: 'Merriweather', serif;
    text-align: left;
    padding:1vh;
}