{% extends "main/base.html" %} 

{% block content %} 
    <header>
        <h1> Welcome to our customers </h1>
    </header>

<table>
    <thead>
        <th>Nom</th>
        <th>Particulier ou société</th>
        <th>Genre</th>
        <th>Mail</th>
        <th>Téléphone</th>
        <th>Adresse</th>
        <th>Ville</th>
        <th>RégionC</th>
        <th>Nombre total de commandes</th>
        <th>Total commandé en €</th>
        <th>Segment</th>
        
    </thead>
    <tbody>
        {% for my_customer_item in my_customer %}
        <tr>    
            <td>{{my_customer_item.name}}</td>
            <td>{{my_customer_item.customer_type}}</td>
            <td>{{my_customer_item.gender}}</td>
            <td>{{my_customer_item.email}}</td>
            <td>{{my_customer_item.phone}}</td>
            <td>{{my_customer_item.address}}</td>
            <td>{{my_customer_item.town}}</td>
            <td>{{my_customer_item.region}}</td>
            <td>{{my_customer_item.nb_orders}}</td>
            <td>{{my_customer_item.total_orders}}</td>
            <td>{{my_customer_item.segment}}</td>
        </tr>
            
        {% endfor %}
        
    </tbody>

   
</table>  

    
{% endblock content %}
