{% extends "main/base.html" %} 

{% load static %}


{% block content %} 

    <header class="header_home">
        <h1><strong> Home - Dashboard </strong></h1>
    </header>
    <br>
    <br>
    <div class="raccourci">
        <img id="img_cré_clt" src="{% static 'img/icone_client2.jpg' %}" alt="img_cré_clt">
        <a class="btn btn-sm btn_create_color" href="{% url 'customers_create' %}" role="button"><h3> <strong> + Client </strong></h3></a>
        <img id="img_cré_pdt" src="{% static 'img/icone_pdt.jpg' %}" alt="img_cré_pdt">
        <a class="btn btn-sm btn_create_color_dark " href="{% url 'products_create' %}" role="button"><h3> <strong> + Produit</strong></h3></a>
        <img id="img_cré_cmd" src="{% static 'img/icone_commande.jpg' %}" alt="img_cré_cmd">
        <a class="btn btn-sm btn_create_color " href="{% url 'orders_create' %}" role="button"><h3> <strong> + Commande </strong></h3></a>
        <img id="img_cré_mkt" src="{% static 'img/icone_marketing.jpg' %}" alt="img_cré_mkt">
        <a class="btn btn-sm btn_create_color_dark " href="{% url 'marketing_campaigns_create' %}" role="button"><h3> <strong> + Marketing </strong></h3></a>
        <img id="img_cré_claim" src="{% static 'img/icone_claim.jpg' %}" alt="img_cré_claim">
        <a class="btn btn-sm btn_create_color " href="{% url 'claims_create' %}" role="button"><h3> <strong> + Réclamation </strong></h3></a>
    </div>
    <br>
    <a class="btn btn-lg btn_delete_color" href="http://localhost:8000/admin" role="button"><strong>Login</strong></a>
    <br>
    <div class="flex">
        
        {% include "Main/nav_bar.html" %}
    
        <div class="main_block_home">
            <h2 class="titre_green_strong"> <strong> Highlights </strong></h2>
            <div class=widht_sm>
                <br>
                <div>
                    <table class="table table-info table-striped high_block_margin" class="table-responsive" >
                    <thead>
                        <th>#Commande 2022</th>
                        <th>#Commande 2021</th>
                    </thead>

                    <tbody>
                        <tr>    
                            <td>{{number_orders_2022}}</td>
                            <td>{{number_orders_2021}}</td>

                        </tr>

                    </tbody>
                    
                    </table>  

                    <br>
                    <table class="table table-striped high_block_margin" class="table-responsive" >

                    <thead>
                        <th>CA 2022</th>
                        <th>CA 2021</th>
                    </thead>

                    <tbody>
                        <tr>    
                            <td>{{revenues_2022}}</td>
                            <td>{{revenues_2021}}</td>

                        </tr>

                    </tbody>

                    </table>  
                </div>
                <br>
                <div>
                    <table class="table table-striped high_block_margin" class="table-responsive" >

                    <thead>
                        <th>Marge 2022</th>
                        <th>Marge 2021</th>
                    </thead>

                    <tbody>
                        <tr>    
                            <td>{{com_margin_2022}}</td>
                            <td>{{com_margin_2021}}</td>

                        </tr>

                    </tbody>

                    </table>  
                    <br>

                    <table class="table table-info table-striped high_block_margin" class="table-responsive">

                    <thead>
                        <th>Satisfaction client 2022</th>
                        <th>Satisfaction client 2021</th>
                    </thead>

                    <tbody>
                        <tr>    
                            <td>{{satisfaction_client_globale_2022}}</td>
                            <td>{{satisfaction_client_globale_2021}}</td>

                        </tr>

                    </tbody>

                    </table>
                </div>
            </div>
            
            <div>
                <div id="container"></div>

                <script src="https://code.highcharts.com/highcharts.src.js"></script>

                <script>Highcharts.chart('container', {{ sales_chart|safe}});</script>
            </div>
            
            <div class="flex">
            <img id="img_trophée" src="{% static 'img/icone_trophée.jpg' %}" alt="img_trophée">
            <h3 class="titre_other_green"><strong> Top Clients : CA sup 150 K€ </strong></h3>
            </div>
            
            <br>
            <table class="table table-lg table-striped" class="table-responsive" >
            <thead>
                <th>Nom</th>
                <th>Particulier ou société</th>

                <th>Nombre total de commandes</th>
                <th class="table-success">Total commandé </th>

                <th class="table-success">Satisfaction</th>
            </thead>
            <tbody>
                {% for my_customer_item in customer_top_list %}
                <tr>    
                    <td>{{my_customer_item.name}}</td>
                    <td>{{my_customer_item.customer_type}}</td>

                    <td>{{my_customer_item.nb_orders}}</td>
                    <td>{{my_customer_item.total_orders}}</td>

                    <td>{{my_customer_item.customer_satisfaction}}</td>


                </tr>

                {% endfor %}

            </tbody>

            </table>  

            <hr>
            <br>
            <div class="flex">
            <img id="img_trophée" src="{% static 'img/icone_trophée.jpg' %}" alt="img_trophée">
            <h3 class="titre_other_green"><strong> Top Produits : CA sup 100 K€ </strong></h3>
            </div>
            <br>
            <table class="table table-lg table-striped" class="table-responsive" >
                <thead>
                    <th>Nom</th>
                    <th>Categorie</th>
                    <th>Prix unitaire HT</th>
                    <th class="table-success">Marge commerciale</th>
                    <th class="table-success">CA par produit</th>

                </thead>
                <tbody>
                    {% for my_product_item in product_top_list %}
                    <tr>   
                        <td>{{my_product_item.name}}</td>
                        <td>{{my_product_item.category}}</td>
                        <td>{{my_product_item.price_pdt_HT}}</td>
                        <td>{{my_product_item.commercial_margin}}</td>
                        <td>{{my_product_item.revenues_per_product}}</td>

                    </tr>

                    {% endfor %}

                </tbody>

            </table> 

            <br>
            
            <div class="flex">
                <img id="img_alerte" src="{% static 'img/icone_alerte.jpg' %}" alt="icone_alerte">
                <h3 class="titre_pink"><strong> Alerte - Produits à réapprovisionner </strong></h3>
            </div>
            
            <br>
            <table class="table table-lg table-striped" class="table-responsive" >
                <thead>
                    <th>Nom</th>
                    <th>Categorie</th>
                    <th>Stock de sécurité</th>
                    <th class="table-danger">Quantité en stock actuelle</th>
                    <th class="table-danger">Etat des stocks</th>

                </thead>
                <tbody>
                    {% for my_product_item in product_critical_list %}
                    <tr>   
                        <td>{{my_product_item.name}}</td>
                        <td>{{my_product_item.category}}</td>
                        <td>{{my_product_item.stock_security}}</td>
                        <td>{{my_product_item.stock_q_actuel}}</td>
                        <td>{{my_product_item.stock_status}}</td>
                    </tr>

                    {% endfor %}

                </tbody>

            </table>

            <br>
            <div class="flex">
            <img id="img_alerte" src="{% static 'img/icone_alerte.jpg' %}" alt="icone_alerte">
            <h3 class="titre_pink"><strong> Alerte - Réclamations en cours </strong></h3>
            </div>
            <br>
            <table class="table table-lg table-striped" class="table-responsive" >
                <thead>
                    <th>ID Claim</th>
                    <th>Client</th>
                    <th>Date de création</th>
                    <th>Responsable de traitement</th>
                    <th>Type</th>
                    <th>Statut</th>
                    <th class="table-danger">Action en cours</th>
                    <th class="table-danger">Délai de résolution prévu</th>
                    <th class="table-danger">Dernier contact client</th>
                    <th class="table-danger">Avancement</th>

                </thead>
                <tbody>
                    {% for my_claim_item in alerte_claims %}
                    <tr>    
                        <td>{{my_claim_item.pk}}</td>
                        <td>{{my_claim_item.customer}}</td>
                        <td>{{my_claim_item.date_created}}</td>
                        <td>{{my_claim_item.Operator}}</td>
                        <td>{{my_claim_item.Type}}</td>
                        <td>{{my_claim_item.status}}</td>
                        <td>{{my_claim_item.action}}</td>
                        <td>{{my_claim_item.resolution_date_expected}}</td>
                        <td>{{my_claim_item.last_contact_customer_date}}</td>
                        <td>{{my_claim_item.resolution_progress_status}}</td>

                    </tr>

                    {% endfor %}

                </tbody>


            </table>  
                <br>
            <div class="flex">
                <img id="img_en_cours" src="{% static 'img/icone_en_cours.jpg' %}" alt="icone_en_cours">
                <h3 class="titre_green_light"><strong> Livraisons en cours </strong></h3>
            </div>
            
            <br>
            <table class="table table-lg table-striped" class="table-responsive" >
                <thead>
                    <th>Réf Commande</th>
                    <th>Date Commande</th>
                    <th>Nom Client</th>
                    <th>Produit</th>
                    <th class="table-success">Statut</th>
                    <th class="table-success">Etat livraison</th>
                    <th class="table-success">Date de livraison - prévue</th>
                    <th>Date de livraison - effective</th>

                </thead>
                <tbody>
                    {% for order in product_ongoing_deliveries %}
                    <tr>    
                        <td>{{order.id}}</td>
                        <td>{{order.date}}</td>
                        <td>{{order.customer.name}}</td>
                        <td>{{order.product.name}}</td>
                        <td>{{order.status}}</td>
                        <td>{{order.late_delivery}}</td>
                        <td>{{order.Delivery_date_expected}}</td>
                        <td>{{order.Delivery_date_final}}</td>
                    {% endfor %}

                </tbody>

            </table>

            <br>
            <div class="flex">
                <img id="img_en_cours" src="{% static 'img/icone_en_cours.jpg' %}" alt="icone_en_cours">
                <h3 class="titre_green_light"><strong> Campagnes marketing en cours </strong></h3>
            </div>
            <br>
            <table class="table table-lg table-striped" class="table-responsive" >
                <thead>
                    <th>ID Campagne Marketing</th>
                    <th>Segment client concerné</th>
                    <th>Type</th>
                    <th>Description</th>
                    <th>Date de début</th>
                    <th>Date de fin</th>
                    <th class="table-success">Statut</th>


                </thead>
                <tbody>
                    {% for my_marketing_item in marketing_en_cours %}
                    <tr>    
                        <td>{{my_marketing_item.id}}</td>
                        <td>{{my_marketing_item.customer_segment}}</td>
                        <td>{{my_marketing_item.marketing_type}}</td>
                        <td>{{my_marketing_item.description}}</td>
                        <td>{{my_marketing_item.start_date}}</td>
                        <td>{{my_marketing_item.end_date}}</td>
                        <td>{{my_marketing_item.marketing_status}}</td>

                    </tr>

                    {% endfor %}

                </tbody>


            </table>  
        </div>        
    </div>

    
{% endblock content %}
