{% load static %}

        <nav id="sidebar">
            
            <div>
                <h2><strong>Tech Prime</strong></h2>
            </div>
 
            <ul class="list-unstyled components">
                
                <div> 
                    
                    <p class="white"><strong><i>Customers First</i></strong></p>
                
                </div>

                <br>
                
                <img id="logo_TP" src="{% static 'img/Logo_TP.png' %}" alt="logo société">
  
                <br>
                <br>
                <br>
                
                <li>
                    <a href="/"><strong>Dashboard</strong></a>
                </li>
                
                <br>
                
                <li>
                    <a href="/Clients"><strong>Clients</strong></a>
                </li>
                
                <br>
                
                <li>
                    <a href="/Produits"><strong>Produits</strong></a>
                </li>
                
                <br>
                
                <li>
                    <a href="/Commandes"><strong>Commandes</strong></a>
                </li>
                
                <br>
                
                <li>
                    <a href="/Réclamations"><strong>Réclamations</strong></a>
                </li>
                
                <br>
                
                <li>
                    <a href="/Campagnes_Marketing"><strong>Marketing</strong></a>
                </li>
            </ul>
        </nav>


<!-- 

<nav id="menu">
            <ul>
                <li><a href="/">Dashboard</a> </li>
                <li><a href="/Clients" target="_blank">Clients</a></li>
                <li><a href="/Produits" target="_blank">Produits</a></li>
                <li><a href="/Commandes" target="_blank">Commandes</a></li>
                <li><a href="/Réclamations" target="_blank">Réclamations</a></li>
                <li><a href="/Campagnes_Marketing" target="_blank">Marketing</a></li>
            </ul>
</nav> -->