{% extends "main/base.html" %} 

{% block content %} 
    <header>
        <h1> Welcome to products </h1>
    </header>

<a class="btn-primary btn-sm" href="{% url 'products_create' %}" role="button">créer un produit</a>

<table>
    <thead>
        <th>ID Produit</th>
        <th>Nom</th>
        <th>Description</th>
        <th>Categorie</th>
        <th>N_Lot</th>
        <th>Prix unitaire HT</th>
        <th>Prix unitaire TTC</th>
        <th>Marge commerciale</th>
        <th>Quantité en stock initiale</th>
        <th>Quantité en stock actuelle</th>
        <th>Stock de sécurité</th>
        <th>Etat des stocks</th>
        <th>revenues_per_product</th>
        
    </thead>
    <tbody>
        {% for my_product_item in my_product %}
        <tr>   
            <td>{{my_product_item.pk}}</td>
            <td>{{my_product_item.name}}</td>
            <td>{{my_product_item.description}}</td>
            <td>{{my_product_item.category}}</td>
            <td>{{my_product_item.n_lot}}</td>
            <td>{{my_product_item.price_pdt_HT}}</td>
            <td>{{my_product_item.price_pdt_TTC}}</td>
            <td>{{my_product_item.commercial_margin}}</td>
            <td>{{my_product_item.stock_q}}</td>
            <td>{{my_product_item.stock_q_actuel}}</td>
            <td>{{my_product_item.stock_security}}</td>
            <td>{{my_product_item.stock_status}}</td>
            <td>{{my_product_item.revenues_per_product}}</td>
            <td><a class="btn-success btn-sm" href="{% url 'update_product' my_product_item.id %}" role="button">update</a></td>
            <td><a class="btn-danger btn-sm" href="{% url 'delete_product' my_product_item.id %}" role="button">delete</a></td>
        </tr>
            
        {% endfor %}
        
    </tbody>

<table>
    
    
{% endblock content %}